# Byte-code
*.pyc
__pycache__/

# Virtual environments
.venv/
env/
venv/
venv/Scripts/activate.bat  # Windows

# IDE/Editor
.idea/
.vscode/
*.swp

# Build / coverage artefacts
build/
dist/
*.egg-info/
.coverage

# Env-vars
.env

# Installer logs
pip-log.txt
pip-delete-this-line.txt

# OS-generated
.DS_Store
Thumbs.db

*.csv